.check {
  display: inline;
}

#wrapper {
  width: 100%;
  overflow: visible; /* will contain if #first is longer than #second */
}
#first {
  width: 15%;
  float:left; /* add this */

}
#second {
  width: 85%;
  overflow: hidden; /* if you don't want #second to wrap below #first */
}
